<h2>Написати запитання/пропозицію</h2>

<form action="/contacts" method="POST" role="form">
<br />
  <div class="form-group">
    <label>Введіть своє ім'я:</label>
    <input type="text" name="contact[name]" class="form-control" placeholder="Введіть тут своє ім'я" value="<%= @con.name%>">
  </div>

  <div class="form-group">
    <label>Введіть свій телефон:</label>
    <input type="number" name="contact[phone]" class="form-control" placeholder="Введіть тут свій номер телефону" value="<%= @con.phone%>">
  </div>

  <div class="form-group">
    <label>Введіть своє запитання/пропозицію:</label>
    <textarea type="text" name="contact[question]" class="form-control" placeholder="Введіть тут своє запитання/пропозицію" rows="5" value="<%= @con.question%>"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Записатися</button>
</form>
